# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.GDTV_BuildingEscape.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\pnava\Documents\Unreal Projects\GDTV_BuildingEscape\.idea\.idea.GDTV_BuildingEscape\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
